@using System.Web.Mvc.Html
@model Jcars.Models.SearchCarModel

<div class="jumbotron">
    <h1>VILI E BOG</h1>
    <p class="lead">SAMO LOKO ALE</p>
</div>



@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("To my cars", "MyCars", "Car");
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get, @*new { enctype = "multipart/form-data" },*@ new { @class = "criteriaForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Search Car</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            <div class="col-md-10">
                <label>Brand</label>
                @Html.DropDownList("BrandID", Model.Brands.Select(i => new SelectListItem()
                {
                    Text = i.Name,
                    Value = i.BrandID.ToString()
                }))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Model</label>
                @Html.DropDownList("ModelID", Model.Models.Select(i => new SelectListItem()
                {
                    Text = i.Name,
                    Value = i.ModelID.ToString()
                }))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Engine</label>
                @Html.DropDownList("EngineID", Model.Engines.Select(i => new SelectListItem()
                {
                    Text = i.Type,
                    Value = i.EngineID.ToString()
                }))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Transmission</label>
                @Html.DropDownList("TransmissionID", Model.Transmissions.Select(i => new SelectListItem()
                {
                    Text = i.Type,
                    Value = i.TransmissionID.ToString()
                }))
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinPrice, new { @type = "number" })
                @Html.TextBoxFor(m => m.MaxPrice, new { @type = "number" })

                @Html.ValidationMessageFor(model => model.MinPrice, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.MaxPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Year", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinYear, new { @type = "number" })
                @Html.TextBoxFor(m => m.MaxYear, new { @type = "number" })

                @Html.ValidationMessageFor(model => model.MinYear, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.MaxYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Horsepower", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinHorsepower, new { @type = "number" })
                @Html.TextBoxFor(m => m.MaxHorsepower, new { @type = "number" })

                @Html.ValidationMessageFor(model => model.MinHorsepower, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.MaxHorsepower, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mileage", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MaxMileage, new { @type = "number" })
                @Html.TextBoxFor(m => m.MinMileage, new { @type = "number" })

                @Html.ValidationMessageFor(model => model.MaxMileage, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.MinMileage, "", new { @class = "text-danger" })
            </div>
        </div>

        <label>AirConditioner: </label>@Html.CheckBoxFor(m => m.AirConditioner)
        <label>GPS: </label>@Html.CheckBoxFor(m => m.GPS)
        <label>ABS: </label>@Html.CheckBoxFor(m => m.ABS)
        <label>ESP: </label>@Html.CheckBoxFor(m => m.ESP)
        <label>Airbag: </label>@Html.CheckBoxFor(m => m.Airbag)
        <label>TractionControl: </label>@Html.CheckBoxFor(m => m.TractionControl)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<h2>Search</h2>

<h1>Br we ti uspq da tursish we</h1>

<table>
    <tr>
        <th>
            Image
        </th>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Year
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var car in Model.Cars)
    {
        <tr>
            <td>
                @{
                    if (car.Files.Count > 0)
                    {
                        var base64 = Convert.ToBase64String(car.Files[0].Content.ToArray());
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img width="140" src="@imgSrc" />
                    }
                    else
                    {
                        <p>No image</p>
                    }
                }
            </td>
            <td>
                @car.Brand.Name
            </td>
            <td>
                @car.Model.Name
            </td>
            <td>
                @car.Price
            </td>
            <td>
                @car.Year

            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Car", new { id = car.CarID }, null)
            </td>
        </tr>
    }
</table>

@for (int i = 1; i <= Model.Pages; i++)
{
    <input type="submit" value="@i " class="page" data-pageNum="@i" class="btn btn-default" />
    @*@Html.(i + " ", "Index", "Home", new { pageNum = i }, new { @class = "page" })*@

}

<script type="text/javascript" src="~/Scripts/submitForm.js"></script>