@model Jcars.Business.Entities.Car

<h2>CarDetails</h2>

@if (Model.Files != null && Model.Files.Count > 0)
{
    for (int i = 0; i < Model.Files.Count; i++)
    {

        var base64 = Convert.ToBase64String(Model.Files[i].Content.ToArray());
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src="@imgSrc" />
    }
}


<div>@Model.Brand.Name</div>
<div>@Model.Model.Name</div>
<div>@Model.Price</div>
<div>@Model.Year</div>
<div>@Model.Horsepower</div>
<div>@Model.Engine.Type</div>
<div>@Model.Transmission.Type</div>
<div>@Model.Mileage</div>
<h3>Additional features</h3>

@Html.LabelFor(m => m.AirConditioner)
@Html.DisplayFor(m => m.AirConditioner)<br />
@Html.LabelFor(m => m.GPS)
@Html.DisplayFor(m => m.GPS)<br />
@Html.LabelFor(m => m.ABS)
@Html.DisplayFor(m => m.ABS)<br />
@Html.LabelFor(m => m.ESP)
@Html.DisplayFor(m => m.ESP)<br />
@Html.LabelFor(m => m.Airbag)
@Html.DisplayFor(m => m.Airbag)<br />
@Html.LabelFor(m => m.TractionControl)
@Html.DisplayFor(m => m.TractionControl)<br />




