@using System.Web.Mvc.Html
@model Jcars.Models.PaginatedCarsListModel

<h2>Index</h2>

@Html.DropDownListFor(m=>m.PageSize, new SelectList(new Dictionary<string, int> { { "3", 3 }, { "5", 5 }, { "10", 10 }, { "25" , 25 }, { "50" , 50} }, "Key", "Value", Model.PageSize), new { @class = "pro_pag_tf1", id = "pagesizelist" })

<h1>Br we ti uspq da kachish kola (ili si hakaer i si stignal do tuk s URL-a)</h1>

<table>
    <tr>
        <th>
            Image
        </th>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Year
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var car in Model.Cars)
    {
        <tr>
            <td>
                @{
                    if (car.Files.Count > 0)
                    {
                        var base64 = Convert.ToBase64String(car.Files[0].Content.ToArray());
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img width="140" src="@imgSrc" />
                    }
                    else
                    {
                        <p>No image</p>
                    }
                }
            </td>
            <td>
                @car.Brand.Name
            </td>
            <td>
                @car.Model.Name
            </td>
            <td>
                @car.Price
            </td>
            <td>
                @car.Year

            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Car", new { id = car.CarID }, null)
            </td>
        </tr>
                    }
</table>

@for (int i = 1; i <= Model.Pages; i++)
{
   
     @Html.ActionLink(i+" ", "Index", "Car", new { pageNum = i, pageSize = Model.PageSize  }, null)

}

<script type="text/javascript" src="~/Scripts/pageSizeChange.js"></script>