@model IEnumerable<Jcars.Business.Entities.Car>

<h2>My Cars</h2>

<table>
    <tr>
        <th>
            Image
        </th>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Year
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var car in Model)
    {
        <tr>
            <td>
                @{
                    if (car.Files.Count > 0)
                    {
                        var base64 = Convert.ToBase64String(car.Files[0].Content.ToArray());
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <img width="140" src="@imgSrc" />
                    }
                    else
                    {
                        <p>No image</p>
                    }
                }
            </td>
            <td>
                @car.Brand.Name
            </td>
            <td>
                @car.Model.Name
            </td>
            <td>
                @car.Price
            </td>
            <td>
                @car.Year
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Car", new { id = car.CarID }, null) | @Html.ActionLink("Edit", "Edit", "Car", new { id = car.CarID }, null) | <button value="@car.CarID" class="deleteButton">Delete</button>
            </td>
        </tr>
    }
</table>
<script type="text/javascript" src="~/Scripts/deleteCar.js"></script>